@model VeterinariaNueva.Models.Turno
@using VeterinariaNueva.Helper

@{
    ViewData["Title"] = "Create";
}

<h4>Saque su turno:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <span class="text-danger">@ViewBag.Error</span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha_Hora" class="control-label"></label>
                <input asp-for="Fecha_Hora" class="form-control" />
                <span asp-validation-for="Fecha_Hora" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nombre_Mascota" class="control-label"></label>
                <input asp-for="Nombre_Mascota" class="form-control" />
                <span asp-validation-for="Nombre_Mascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">¿Qué animal es?</label>
                <br />

                <select class="form-select" name="tipo">
                    <option selected>Tipo de mascota</option>
                    <option value="0">Perro</option>
                    <option value="1">Gato</option>
                    <option value="2">Hamster</option>
                </select>

            </div>
            <div class="form-group">
                <input type="submit" value="Pedir turno" onclick ="avisarHorario()" class="btn btn-primary" />
            </div>

        </form>
    </div>
    <ul>
    <li>@SessionHelper.GetNameIdentifier(User)</li>
    <li>@SessionHelper.GetName(User)</li>
        </ul>
</div>

<div>
    <a asp-action="Index">Ver lista de turnos</a>
    <br />
    <a asp-controller= "Clientes" asp-action="HistorialCliente">Ver mi historial</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script> 
    function avisarHorario() {
        
        alert('AVISO: Los minutos no serán tomados en cuenta.');
        

    }
    </script>
