
@{
    ViewData["Title"] = "Acerca";
}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Veterinaria ORT | Bienvenidos</title>
        <link href='~/css/site.css' rel='stylesheet'>

    </head>

    <body>
        <header class="titulo">
            <h1>¿Ya nos conocias?</h1>
        </header>
        <section id="showcase">
            <div class="container">
                <h2>Historia de la empresa</h2>
                Somos una empresa familiar con más de 60 años en el rubro veterinario. Comenzó siendo la más famosa peluquería canina para convertirse en la empresa más prometedora del rubro.

                Un poco de historia:
                Instalado en el barrio porteño de Devoto, con importantes clientes del ámbito de la política y artístico se estableció Facundo Verbauwede en un local en la calle Calderón de la barca 3039 del Barrio porteño de Devoto donde permaneció junto a su esposa la Sra. Sol Perez y su hija Matilda Verdauwede hasta 1954.

                Al año siguiente se establecieron con un local en la Avenida Pueyrredón 1801 que permanece hasta el día de hoy siendo uno de los locales más antiguos de la zona y la veterinaria más antigua de Buenos Aires.

                Ya con la fama de ser la mejor peluquería de Buenos Aires se comenzaron a agre-gar el servicio de venta de accesorios, en una primera etapa los que se conseguía de la industria local. La segunda generación de la familia incursiono en la importación, venta y distribución de accesorios dando origen a la empresa Pets Products Inc.

                Ya consolidado como uno de los locales más completos en accesorios y novedades la tercer generacion comienza la expansion con locales propios que hoy cuentan con 9 locales.
                <br>
                <br>
                <h2>Nuestra clave del éxito se apoya en 5 pilares fundamentales</h2>
            </div>
        </section>
    
        <ul>
            <li><strong>Compras centralizadas</strong></li>
            Las posibilidades de acceder a economías de escala nos permite acceder a condiciones comerciales muy favorables en relación a la competencia.

            <li><strong>Logística integrada</strong></li>
            Al contar con sistemas integrados y distribución propia nos permite contar con stock diferidos
            en múltiples puntos de venta y locales comerciales que flexibilizan las operaciones comerciales diarias.
            Con entregas semanales podemos hacer transferencias de mercaderías entre los puntos de venta prestando artículos
            entre cada una de las unidades perdiendo muy pocas ventas por escasez de producto.

            <li><strong>Tecnología</strong></li>
            Con una constante inversión en sistemas de información y bases de datos que aseguren el futuro crecimiento,
            estamos un paso delante de nuestra competencia. Con bases de datos que se sincronizan de forma inmediata,
            contamos con información precisa y en el momento justo, evitando descapitalizarnos en escenarios de inflación.

            <li><strong>Experiencia</strong></li>
            Siendo una familia con más de 60 años en el mercado y habiendo importado y distribuido las marcas más importantes de accesorios
            podemos tener un conocimiento de hacia dónde va el mercado argentino. Nuestra pasión por las novedades y búsqueda contante de nuevas formas de llegar al consumidor
            nos aseguran un lugar en el futuro entre los jugadores importantes del mercado.

            <li><strong>Productos exclusivos</strong></li>
            Mediante la importación exclusiva de productos para nuestros asociados nos aseguramos mantener la diferenciación frente a la competencia.
            Packagings y marcas propias nos diferencian de cualquier otra empresa del rubro.Todas estas razones son muy importantes y seguramente son razones tangibles,
            pero la más importante es un intangible, una realidad paralela, una sensación…y es el factor humano.
            La gente comprometida en el proyecto desde quienes dimos el primer paso a quienes se van sumando es nuestro diferencial… gente que se equivoca, que trabaja,
            que se frustra cuando las cosas no salen de la manera esperada…. gente que HACE.
        </ul>
	</body>
</html>


    



