@{
    ViewData["Title"] = "Home Page";
}
<html lang="en">

<body>

    <section id="showcase">
        <div class="container">
            <h1>El mejor lugar para tu mascota</h1>
            <img id="imagen01" src="~/css/peluquería-canina.jpg" alt="peluqueria-canina">
            <img id="imagen02" src="~/css/perro-salchicha.jpg" alt="perro-salchicha">
        </div>
    </section>

</body>
</html>
