@using VeterinariaNueva.Helper
@{
    ViewData["Title"] = "Suscripcion";
}

<style>
    .Sub {
        font: italic
    }
</style>
<h1 class="Sub">¡¡Gracias @SessionHelper.GetName(User) por confiar en nosotros!!</h1>

<p> ¡Lo mantendremos al tanto de nuestras ofertas y todo lo nuevo! </p>

